<div class="recensione-bene-container">
	<h3>Lascia una recensione per questo oggetto</h3>
	<form (ngSubmit)="inviaRecensione()">
			<div class="star-rating">
				<label>Voto:</label>
				<span *ngFor="let star of [1,2,3,4,5]; let i = index"
							(click)="setVoto(star)"
							[class.selected]="star <= voto" 
							[class.pointer]="true">	<!-- per far cambiare l'aspetto al cursore in una mano -->
							{{ star <= voto ? '★' : '☆' }} <!-- Considerando il voto se star minore genero una stella piena altrimenti vuota -->
				</span>
			</div>

			<div class="form-group">
				<label for="titolo">Titolo messaggio:</label>
				<input id="titolo" [(ngModel)]="titolo" name="titolo" type="text" placeholder="Titolo del messaggio" required/>
			</div>

			<div class="form-group">
				<label for="messaggio">Messaggio:</label>
				<textarea id="messaggio" [(ngModel)]="messaggio" name="messaggio" rows="3" placeholder="Scrivi un commento sull'oggetto..." required></textarea>
			</div>
			<button type="submit" [disabled]="voto === 0">Invia recensione</button>
	</form>
</div>
